---
// src/layouts/BaseLayout.astro
import Header from "src/layouts/Header.astro"
import Footer from "src/layouts/Footer.astro"

---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>TraceBack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
